* {
  box-sizing: border-box;
}

html {
  --text-dark: hsl(245, 15%, 25%);
  font-size: 1.125rem;
}

body {
  min-height: 100vh;
  margin: 0;

  /* use grid to make the content always fill the height */
  display: grid;
  grid-template-rows: auto 1fr;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --gradient-1: #ffb100;
  --gradient-2: #ffb800;
  --gradient-3: #ffbf00;
  --gradient-4: #ffc500;
  --gradient-5: #ffcc00;
  --gradient-6: #ffd624;
  --gradient-7: #ffe038;
  --gradient-8: #ffeb49;
  --gradient-9: #fff558;
  --gradient-10: #ffff66;
  background-color: var(--gradient-4);
  background-image: radial-gradient(
    circle at bottom left,
    var(--gradient-1) 0,
    var(--gradient-2) 0 10%,
    var(--gradient-3) 0 20%,
    var(--gradient-4) 0 30%,
    var(--gradient-5) 0 40%,
    var(--gradient-6) 0 50%,
    var(--gradient-7) 0 60%,
    var(--gradient-8) 0 70%,
    var(--gradient-9) 0 80%,
    var(--gradient-10) 0 90%
  );
  background-size: cover;
  color: var(--text-dark);
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.site-header > * {
  --delay: 0s;
  animation: fadeIn 2s calc(0.5s + var(--delay)) forwards,
    slideIn 1s calc(0.5s + var(--delay)) forwards;
  opacity: 0;
  transform: translateY(-2rem);
}

.site-header > nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.site-header a {
  color: inherit;
  text-decoration: none;
}

.site-header > nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

h1 {
  margin-top: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    transform: translateY(0);
  }
}

/* disable ALL animation for users who choose this setting */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-delay: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
