.post {
  max-width: 68ch;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 1rem;
  padding: clamp(1rem, 1rem + 3vw, 4rem);
  box-shadow: 0 1rem 3rem 0 hsla(30, 50%, 20%, 0.25),
    0 0.5rem 1rem hsla(0, 0%, 0%, 0.1);
}
